MONGO_URL=mongodb+srv://username:password@cluster.mongodb.net/database_name
JWT_SECRET=your_jwt_secret_key_here
PORT=8000
CLIENT_URL=https://your-vercel-app-url.vercel.app
CLOUDINARY_CLOUD_NAME=dwtz1cu7f
CLOUDINARY_API_KEY=157616998783972
CLOUDINARY_API_SECRET=TKjTTeb6-49-ETGrp7lw5sTJ-mA
